In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Letterkenny,IE,2022-07-17 00:42:14,54.9500,-7.7333,60.46,97,100,3.02
1,1,Virden,US,2022-07-17 00:42:14,39.5009,-89.7679,84.25,95,99,10.94
2,2,Rikitea,PF,2022-07-17 00:42:14,-23.1203,-134.9692,72.28,73,100,13.49
3,3,Kapaa,US,2022-07-17 00:38:26,22.0752,-159.3190,85.98,76,100,18.41
4,4,Berlevag,NO,2022-07-17 00:42:15,70.8578,29.0864,53.40,87,100,17.27

In [3]:
# Verify data types for city_data_df
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Temperature Heatmap

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Humidity Heatmap

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Cloudiness Heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Wind Speed Heatmap

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Vacation Recommendations

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Virden,US,2022-07-17 00:42:14,39.5009,-89.7679,84.25,95,99,10.94
3,3,Kapaa,US,2022-07-17 00:38:26,22.0752,-159.3190,85.98,76,100,18.41
5,5,Victoria,HK,2022-07-17 00:42:15,22.2855,114.1577,89.19,78,100,11.99
16,16,Dhidhdhoo,MV,2022-07-17 00:38:44,6.8833,73.1000,81.39,79,62,11.27
18,18,Mayo,US,2022-07-17 00:42:19,38.8876,-76.5119,75.31,93,100,6.91
21,21,Vaini,TO,2022-07-17 00:42:20,-21.2000,-175.2000,80.76,89,20,6.91
23,23,Key Largo,US,2022-07-17 00:38:49,25.0865,-80.4473,83.98,73,92,8.12
27,27,La Ronge,CA,2022-07-17 00:42:22,55.1001,-105.2842,80.85,50,20,8.05
28,28,Jamestown,US,2022-07-17 00:39:23,42.0970,-79.2353,76.59,49,75,5.75
29,29,Ixtapa,MX,2022-07-17 00:42:22,20.7000,-105.2000,87.03,62,75,9.22

In [12]:
preferred_cities_df.count()

City_ID       209
City          209
Country       209
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
1      Virden      US     84.25  39.5009  -89.7679
3       Kapaa      US     85.98  22.0752 -159.3190
5    Victoria      HK     89.19  22.2855  114.1577
16  Dhidhdhoo      MV     81.39   6.8833   73.1000
18       Mayo      US     75.31  38.8876  -76.5119
21      Vaini      TO     80.76 -21.2000 -175.2000
23  Key Largo      US     83.98  25.0865  -80.4473
27   La Ronge      CA     80.85  55.1001 -105.2842
28  Jamestown      US     76.59  42.0970  -79.2353
29     Ixtapa      MX     87.03  20.7000 -105.2000

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Virden,US,84.25,39.5009,-89.7679,Virden Nail Spa
3,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Victoria,HK,89.19,22.2855,114.1577,Mini Central
16,Dhidhdhoo,MV,81.39,6.8833,73.1000,Dhidhoo beach
18,Mayo,US,75.31,38.8876,-76.5119,Resorts Resource Group International
21,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
23,Key Largo,US,83.98,25.0865,-80.4473,Bayside Inn Key Largo
27,La Ronge,CA,80.85,55.1001,-105.2842,Northland Motor Hotel
28,Jamestown,US,76.59,42.0970,-79.2353,Hampton Inn & Suites Jamestown
29,Ixtapa,MX,87.03,20.7000,-105.2000,hotel la terminal

## Add Temperature Heatmap for Vacation Spots

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))